<div class="mt-4 wrapper-add-product">
    <h3>Thêm sản phẩm</h3>
    <form method="POST" action="/products/addProduct">
        <div class="mb-3">
            <label for="nameProduct" class="form-label">Phân loại sản phẩm</label>
            <select required name="type" class="form-select form-control-sm select-all-options" aria-label="Default select example">
                <option value="">-- Chọn loại hàng --</option>
                <option value="phone">Điện thoại</option>
                <option value="laptop">Laptop</option>
                <option value="tablet">Máy tính bảng</option>
                <option value="tivi">Tivi</option>
                <option value="earphone">Tai nghe</option>
                <option value="phone-components">Phụ kiện Apple</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="nameProduct" class="form-label">Tên sản phẩm</label>
            <input name="nameProduct" type="text" class="form-control" id="exampleInputEmail1">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Mô tả sản phẩm</label>
            <input name="description" type="text" class="form-control" id="exampleInputEmail1">
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Giá sản phẩm</label>
            <input name="price" type="text" class="form-control myInput" id="exampleInputEmail1">
        </div>
        <input type="text" hidden name="image" class="image-base64">
        <button type="submit" class="btn btn-primary btn-submit">Thêm sản phẩm</button>
    </form>
    <div class="mb-3">
        <label for="image" class="form-label">Hình ảnh sản phẩm</label>
        <input name="image" type="file" accept="image/*" class="form-control file-input" id="exampleInputEmail1">
    </div>
    <div class="preview">
        <img class="preview-img" src="" alt="">
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.file-input').on('change', function (event) {
            var file = event.target.files[0];
            var reader = new FileReader();

            reader.onload = function (event) {
                $('.image-base64').attr('value', reader.result)
                console.log(reader.result)
                $('.preview-img').attr('src', event.target.result);
            };

            reader.readAsDataURL(file);
        });

        $('.myInput').mask('#,##0', { reverse: true });
    });
</script>