.card-course-item {
  margin-top: 16px; }

.select-all-options {
  width: 200px;
  margin: 0 16px; }

.wrapper-add-product {
  position: relative;
  height: 1000px; }

.btn-submit {
  position: absolute;
  top: 500px; }

.file-input {
  width: 300px; }

.preview {
  position: absolute;
  top: 400px;
  left: 350px; }

.preview-img {
  width: 250px;
  min-height: 250px;
  object-fit: cover; }

.btn-edit {
  position: absolute;
  top: 650px; }

.preview-eidt {
  position: absolute;
  top: 55%;
  left: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 290px;
  height: 290px;
  border-radius: 10px;
  background-color: aqua;
  overflow: hidden; }

.preview-img-edit {
  width: 250px;
  min-height: 250px;
  object-fit: cover;
  border-radius: 10px; }

.preview-products-img {
  width: 100px;
  max-width: 150px;
  object-fit: cover; }
