<div class='mt-4 wrapper-add-product'>
    <h3>Đăng nhập</h3>
    <form method='POST' action='/users/login'>

        <div class='mb-3'>
            <label for='username' class='form-label'>Tên toài khoản</label>
            <input name='username' type='text' class='form-control' id='exampleInputEmail1' />
        </div>

        <div class='mb-3'>
            <label for='password' class='form-label'>Mật khẩu</label>
            <input name='password' type='password' class='form-control' id='exampleInputEmail1' />
        </div>

        <button type='submit' class='btn btn-primary'>Đăng nhập</button>

    </form>
</div>