<div class="mt-4">
    <form method="post" action="">
        <div class="mb-3">
            <label for="search-input" class="form-label">từ khoá</label>
            {{!-- <input type="text" name="fullname" id="">
            <input type="text" name="age" id=""> --}}
            <input name="q" type="text" class="form-control" id="exampleInputEmail1" placeholder="Nhập từ khoá...">
        </div>
        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
</div>